*
{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.navbar
{
    background-color: #F7C200;
}

.navbar .navbar-nav .nav-link
{
    color: #344E5C;
    cursor: pointer;
}

.container-fluid
{
    height: 100vh;
    width: 100%;
}

.carousel
{
    height: 50vh;
    width: auto;
    overflow: hidden;
    max-height: 50vh;
}

.carousel .carousel-inner .carousel-item .carousel-img
{
    height: 100%;
}
